@import "../_base";

.detail {
  @extend .box;
  padding: 20px 0;
  h2{
    text-align: center;
  }

  .detail-table {
    margin: 0 auto;
    background-color: #f1f1f1;
    border-spacing: 20px;
  }

  .key {
    font-weight: bold;
    text-align: right;
  }

}