@import "../_base";

.addForm {
  @extend .box;
  width: 50%;
  margin: 50px auto;
  padding: 70px 0;

  > * {
    margin-bottom: 30px;
    width: 75%;
    height: 60px;
    font-size: 20px;
    border: solid 1px rgba(1,1,1,0.2);
    border-radius: 5px;
  }

  button {
    background-color: $bluish;
    color: $white;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      background-color: $blue;
      transform: scale(1.01);
    }
  }

  textarea {
    padding-left: 15px;
    resize: none;
    font-family: 'Roboto', sans-serif;
  }

  input {
    padding-left: 15px;
  }


}

