@import "variables";

.box {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
  background-color: $white;
  text-align: center;
  &.end {
    margin-bottom: 400px ;
  }
}

#container {
  width: 70%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid rgba(1, 1, 1, 0.05);
    &:hover {
      background-color: #e0e0e0;
    }
  }
  td, th {
    padding: 10px;
  }
}

html, body {
  font-family: 'Roboto', sans-serif;
  background: $light;
  margin: 0;
  padding: 0;
  color: $brown;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  &:visited {
    color: $brown
  }

  &:hover {
    color: $blue;
    transform: scale(1.1);

  }
}

@mixin center {
  margin: 0 auto;
  display: block;
}