@import "../_base";

.back-arrow {
  position: absolute;
  left: 20px;
}

.app-header {
  @extend .box;
  height: 100px;
  width: 100%;
  margin-top: 100px;
  line-height: 100px;
  font-size: 2.2em;
  position: relative;
}

.new-button {
  width: 100px;
  position: absolute;
  right: -35px;
  top:-35px;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}