@import "../_base";

.loader {
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.table-container {
  @extend .box;
  width: 100%;
  padding: 10px;

  table {
    width: 100%;
    tr {
      border-bottom: 1px solid rgba(1,1,1,0.05);
      &:hover {
        cursor: pointer;
      }
    }
    td,th {
      text-align: center;
    }
  }
  .new-topic {
    background-color: $light-red;
  }



}